__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
.env

# VS Code
.vscode/
.history/

logs/

# Generated reports
/attendance_report.pdf
/report_*.pdf
/static/reports/*
!/static/reports/.gitkeep
